@media only screen and ( max-width: 1248px ) 
{
    footer .boundary
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and ( max-width: 768px ) 
{
    footer .boundary
    {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

}