/**
 */
%center-area-with-div
{
  margin-right: auto;
  margin-left: auto;
}


/**
  Used at input areas to make a divide between items that are not related
 */
%input-space-exclude
{
  margin: 0;
  margin-top: 1pc;
  margin-bottom: 1pc;
  padding-left: 1pc;
  padding-right: 1pc;
}


/**
  Used at input areas to make space between inputs that are related
 */
%input-space-include
{
  margin: 0;
  margin-top: 0.4pc;
  margin-bottom: 0.4pc;

  padding-right: 1pc;
  padding-left: 1pc;
}